.heading {
    font-size: 20px;
    border-bottom: 1px solid lightgray;
}

.titleText {
    width: auto;
    padding: 20px 0px;
    justify-content: left;
    font-size: 22px;
    text-align: left;
    margin: 0;
    letter-spacing: 1.5px;
}